<div>
  <mat-card flex>
    <mat-card-title>Tree</mat-card-title>
    <mat-card-subtitle>Individual component configurations, series, tooltip</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab>
          <ng-template matTabLabel>Demo</ng-template>
          <td-chart [style.height.px]="800"
          [config]="{ xAxis: { show: false }, yAxis: { show: false }, grid: { borderColor: 'transparent' } }">
            <td-chart-tooltip [trigger]="'item'">
              <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                <ng-container *ngIf="params">
                  <div layout="row" layout-align="start center">
                    <mat-icon class="push-right-sm">
                      <span class="tc-blue-300"> info</span>
                    </mat-icon>
                    <span> {{params.name}} </span>
                  </div>
                </ng-container>
              </ng-template>
            </td-chart-tooltip>
            <td-chart-series td-tree
                            [top]="'10%'"
                            [left]="'10%'"
                            [bottom]="'10%'"
                            [right]="'10%'"
                            [data]="config.series[0].data"
                            [initialTreeDepth]="2"
                            [symbolSize]="10"
                            [itemStyle]="{ borderColor: '#3A4950', color: '#3A4950' }"
                            [leaves]="{ label: { padding: [2.5, 5], fontSize: 9, distance: 5, position: 'right', backgroundColor: 'transparent', color: '#616d73' } }"
                            [label]="{ backgroundColor: '#3A4950', color: 'white', padding: [2.5, 5], borderRadius: 10, fontSize: 9, distance: 5, position: 'left' }">
            </td-chart-series>
          </td-chart>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>Code</ng-template>
          <p>HTML: </p>
          <td-highlight lang="html">
            <![CDATA[
            <td-chart [style.height.px]="800"
            [config]="{ xAxis: { show: false }, yAxis: { show: false }, grid: { borderColor: 'transparent' }}">
              <td-chart-tooltip [trigger]="'item'">
                <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                  <ng-container *ngIf="params">
                    <div layout="row" layout-align="start center">
                      <mat-icon class="push-right-sm">
                        <span class="tc-blue-300"> info</span>
                      </mat-icon>
                      <span> { {params.name} } </span>
                    </div>
                  </ng-container>
                </ng-template>
              </td-chart-tooltip>
              <td-chart-series td-tree
                              [top]="'10%'"
                              [left]="'10%'"
                              [bottom]="'10%'"
                              [right]="'10%'"
                              [data]="config.series[0].data"
                              [initialTreeDepth]="2"
                              [symbolSize]="10"
                              [itemStyle]="{ borderColor: '#3A4950', color: '#3A4950' }"
                              [leaves]="{ label: { padding: [2.5, 5], fontSize: 9, distance: 5, position: 'right', backgroundColor: 'transparent', color: '#616d73' }}"
                              [label]="{ backgroundColor: '#3A4950', color: 'white', padding: [2.5, 5], borderRadius: 10, fontSize: 9, distance: 5, position: 'left' }">
              </td-chart-series>
            </td-chart>
            ]]>
          </td-highlight>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
<mat-card>
  <mat-card-title>Tree (JS Object)</mat-card-title>
  <mat-card-subtitle>Configuration object used to render a chart</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <td-chart [style.height.px]="800" 
                  [config]="config">
        </td-chart>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML: </p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chart [style.height.px]="800" 
                      [config]="config">
            </td-chart>
          ]]>
        </td-highlight>
        <p>config JSON: </p>
        <td-highlight [content]="config | json" lang="json">
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<td-readme-loader resourceUrl="platform/echarts/tree/README.md"></td-readme-loader>
